{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>NEW</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=150) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>
                {{ form.stock.label }}<br>
                {{ form.stock(size=10) }}
                {% for error in form.stock.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>
                {{ form.best_before_date.label }}<br>
                {{ form.best_before_date(size=10) }}
                {% for error in form.best_before_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}